[
  {
    "winner": "Kaz",
    "category": "Most Improved on New Hero",
    "date": "2025-06-12",
    "votes": 1,
    "timestamp": "2025-06-12T22:14:49.005583"
  },
  {
    "winner": "Fry",
    "category": "Most Stylish Play/Skin",
    "date": "2025-06-12",
    "votes": 1,
    "timestamp": "2025-06-12T22:15:16.499599"
  },
  {
    "winner": "Kaz",
    "category": "AB",
    "date": "2025-06-14",
    "votes": 1,
    "timestamp": "2025-06-14T15:02:09.132961"
  },
  {
    "winner": "null",
    "category": "Biggest Clutch",
    "date": "2025-06-14",
    "votes": 1,
    "timestamp": "2025-06-14T15:25:56.341400"
  },
  {
    "winner": "",
    "category": "Most Stylish Play/Skin",
    "date": "2025-06-14",
    "votes": 1,
    "timestamp": "2025-06-14T15:29:34.330921"
  }
]